body{
    background-color: #f4f7fa;
    font-family: Arial, sans-serif;
}

/* HERO SECTION */

.hero-section{
    height: 80vh;
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),
    url('https://images.unsplash.com/photo-1517836357463-d25dfeac3438');

    background-size: cover;
    background-position: center;
}

/* GENERAL CARD */

.card{
    border: none;
    border-radius: 15px;
}

/* USER HABIT CARD */

.habit-card{
    transition: 0.3s;
}

.habit-card:hover{
    transform: translateY(-5px);
}

/* ADMIN CARD */

.admin-card{
    transition: 0.3s;
    border-radius: 15px;
}

.admin-card:hover{
    transform: translateY(-5px);
}

/* BUTTONS */

.btn{
    border-radius: 10px;
}

/* ADMIN TITLE */

h1{
    font-weight: bold;
}

/* SEARCH & FILTERS */

.form-control,
.form-select{
    border-radius: 10px;
}

/* CARD TEXT */

.card-body h4{
    font-weight: bold;
    margin-bottom: 15px;
}
footer{
    margin-top:50px;
}

.progress{
    height:30px;
}

.progress-bar{
    font-size:16px;
    font-weight:bold;
}

.card{
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}